<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= hidden_field_tag :id, @user.id %>
      </h1>
    </section>
    <% if logged_in? %>
      <section class="skill_form">
        <%= render 'shared/skill_form' %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.skills.any? %>
      <h3>Skills (<%= @user.skills.count %>)</h3>
      <ol class="skills">
        <%= render @skills %>
      </ol>
      <%= will_paginate @skills %>
    <% end %>
  </div>
</div>