<li id="skill-<%= skill.id %>">
  <%= link_to gravatar_for(skill.user, size: 50), skill.user %>
  <!-- <span class="user"><%= link_to skill.user.name, skill.user %></span> -->
  <span class="content"><%= skill.content %></span>
  <span class="count"><%= skill.count %></span>
  <span class="link">
    <% if current_user?(skill.user) %>
      <%= link_to "delete", skill, method: :delete, 
                                   data: { confirm: "You sure?" } %>
    <% end %>
    <% unless skill.user == current_user %>
      <%= link_to "+1", { :controller => "skills", :action => "update", :count => skill.count.to_i + 1, :content => skill.content, :user_id => skill.user_id, :id => skill.id },
                        { :method => :put } %>
    <% end %>
  </span>
</li>