<%= form_for(@skill) do |f| %>
  <!--<%= render 'shared/error_messages', object: f.object %> うまくいかない-->
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose a new skill..." %>
    <%= f.text_field :count, placeholder: "input 1" %>
    <%= f.text_field :user_id, placeholder: "input user_id here" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>